<div class="admin">
  <div class="container">
  <div class="row">
    <div class="col-md-3">
      <app-sidebar></app-sidebar>
    </div>
    <main class="col-md-9 main">
      <h3>Registrations</h3>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Firstname</th>
              <th scope="col">Lastname</th>
              <th scope="col">Email</th>
              <th scope="col">Phone number</th>
              <th scope="col">City</th>
              <th scope="col">Instagram username</th>
              <th scope="col">Youtube username</th>
              <th scope="col">Groups</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let influencer of influencers">
              <td class="influencer-firstname">{{ influencer.attributes.firstname }}</td>
              <td class="influencer-lastname">{{ influencer.attributes.lastname }}</td>
              <td class="influencer-email">{{ influencer.attributes.email }}</td>
              <td class="influencer-phoneNumber">{{ influencer.attributes.phoneNumber }}</td>
              <td class="influencer-city">{{ influencer.attributes.city }}</td>
              <td class="influencer-instagramUsername">{{ influencer.attributes.instagramUsername }}</td>
              <td class="influencer-youtubeUsername">{{ influencer.attributes.youtubeUsername }}</td>
              <td class="influencer-groups">{{ influencer.attributes.groups }}</td>
              <td class="actions">
                <a routerLink="" class="btn btn-success btn-sm" (click)="approve">Approve</a>
                <a routerLink="" class="btn btn-danger btn-sm" (click)="delete">Delete</a>
              </td>
            </tr>
          </tbody>
        </table>
    </main>
  </div>
</div>
</div>
