<div class="hero">
  <div class="container text-center">
    <h1>Grow your business <br>with the top influencers.</h1>
    <p>Grow your business with the top influencers.</p>
    <button type="button" class="btn btn-primary" routerLink="sign-up">Get started</button>
  </div>
</div>

<div class="forms">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <app-influencers-dialog></app-influencers-dialog>
      </div>
      <div class="col-sm-6">
        <app-brands-dialog></app-brands-dialog>
      </div>
    </div>
  </div>
</div>
